
html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: #fff;
  padding-top: 40px;
}

.TodoTemplate {
  width: min(1000px, 90vw);
  height: 80vh;
  background: #fff;
  border-radius: 16px;
  box-shadow: 100px 10px 28px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  overflow: hidden;
}

.TodoTemplate h1 {
  text-align: center;
  font-size: 44px;
  font-weight: 800;
  margin: 15px 0 25px;
}


/* 입력 폼 */
.todo-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
}

.todo-input {
  width: 600px;        
  padding: 10px 15px;  
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  box-sizing: border-box;
}

.add-button {
  margin-left: 10px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
}


/* 목록 */
.todo-list {
  width: 600px;
  margin: 0 auto;
}

.TodoItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid #efefef;
}

.TodoItem .left {
  display: flex;
  align-items: center;
  gap: 25px; /* 체크박스와 텍스트 간격 */
}

.TodoItem .text {
  font-size: 16px;
  color: #333;
}

.TodoItem.done .text {
  color: #aaa;
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #bbb;
}

.TodoItem .remove {
  background: transparent;
  border: none;
  color: #888;
  font-size: 18px;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 4px;
}

.TodoItem .remove:hover {
  background: #f5f5f5;
  color: #d11a2a;
}
